:host {
  // --icon-size: 16px;
  --font-size: 14px;
  --font-color: #0c0b0b;
  --height: 52px;

  .button-wrapper {
    height: var(--height);
    // Значение берётся из ближайшего родителя (info-chip)
    padding: var(--button-padding);

    border-radius: 10px;
    border: 1px solid grey;
    background-color: var(--background, grey);
    display: flex;
    align-items: center;
    // Переменная не назначена, по-умолчанию chrome даст чёрный
    color: var(--color);

    .label {
      color: var(--font-color);
      font-size: var(--font-size);
    }

    .icon {
      // По-умолчанию 24px
      width: var(--icon-size, 24px);
      height: var(--icon-size, 24px);
      font-size: var(--icon-size, 24px);
    }
  }
}
:host(.small) {
  --icon-size: 16px;
  --button-padding: 5px;
  --height: 34px;
}
